@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','微軟正黑體','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
}

/* *sidebar */
#sidebar {
  height: 100%;
}

#sidebar footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  background-color: transparent;
}
