* {
    font-family: '微軟正黑體','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
  height: 100%;
}

/* *app */
/* *sidebar */
#sidebar{
  height: 100%;
  button{
    font-size: 1rem;
  }
  footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-color: transparent;
  }
}

/* *版面位置統一 */
#home,#pray,#initial,#bless,#encourage,#community,#exercise,#mood{
  width: calc(100% - 256px);
  height: calc(100% - 48px);
  position: absolute;
  left: 256px;
  top: 48px;
}

